<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app2.js"></script>
</head>
<body>
    <div ng-controller="myController">
        <p ng-show="showParagraph">Відображений абзац</p>
        <a href="#" ng-click="showParagraph = false">Приховати</a>
        <a href="#" ng-click="showParagraph = true">Показати</a>
    </div>

    <a href="index.html">На головну</a>
</body>
</html>
