<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    
    <div ng-app="myApp" ng-controller="myController">
        <label><input type="checkbox" ng-model="showParagraph1"> Показати/сховати абзац 1</label>
        <p ng-show="showParagraph1">Це абзац 1.</p>

        <label><input type="checkbox" ng-model="showParagraph2"> Показати/сховати абзац 2</label>
        <p ng-show="showParagraph2">Це абзац 2.</p>

        <label><input type="checkbox" ng-model="showParagraph3"> Показати/сховати абзац 3</label>
        <p ng-show="showParagraph3">Це абзац 3.</p>
    </div>

    <a href="index.html">На головну</a>
</body>
</html>
