<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app8.js"></script>
</head>
<body ng-controller="myCtrl">
    <label for="city">Виберіть місто:</label>
    <select id="city" ng-model="selectedCity" ng-options="city for city in cities">
    </select>

    <label for="inputCity">Введіть місто:</label>
    <input type="text" id="inputCity" ng-model="selectedCity">

    <p>Ви вибрали: {{selectedCity}}</p>
    <a href="index.html">На головну</a>
</body>
</html>
